.root {
    -fx-font-family: "Arial";
}

.passwdlist {
}
.passwdtree {
}
.content {
    -fx-background-color: lightgray, white;
}

.content:focused {
    -fx-background-color: black, white;
}

/*.content:hover {
    -fx-background-insets:0,1;
    -fx-background-color: lightgray, white;
}

.content:focused:hover {
    -fx-background-insets:0,1;
    -fx-background-color: black, white;
}
*/
.password_content {
}



.alert {
    -fx-fill: darkred;
    -fx-text-fill: darkred;
}