.root {
    -fx-font-family: "Arial";
}

.passwdlist {
    -fx-border-color: darkred;
}
.passwdtree {
    -fx-border-color: darkblue;
}

.content{
    -fx-border-color: yellow;
}

.alert {
    -fx-fill: darkred;
    -fx-text-fill: darkred;
}
.proposal {
    -fx-text-fill: lightgray;
}
