.root {
    -fx-font-family: "Arial";
}

.passwdlist {
}
.passwdtree {
}

.password_content {
}
.content{
    -fx-border-color: yellow;
}

.alert {
    -fx-fill: darkred;
    -fx-text-fill: darkred;
}